header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 89px 50px 93px; /*TODO: check if other dimensions're needed*/
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 28px;
}

.header__links-list-item {
  text-indent: 5px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  text-indent: 0;
  list-style: none;
}

.header__link {
  color: #000;
  font-size: 18px;
  line-height: 1;
  text-underline-offset: 3px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 140px;
}

.header__logo-image {
  width: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.33;
  text-underline-offset: 3px;
}

.header__address {
  justify-self: end;
}

.cover {
  position: relative;
  z-index: -2;
  max-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  display: block;
  width: 100%;
  padding: 164px 20px 55px 50px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.19;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.aligned-text_left {
  text-align: start;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 20px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding: 180px 24px 120px 24px;
}

.lots__heading {
  padding-bottom: 27px;
  padding-left: 40px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  display: flex;
  width: 334px;
  min-height: 596px;
  background-position: center;
  background-size: cover;
}

.card__title {
  color: #fff;
  font-size: 22px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
}

.card__text {
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
}

.card_type_film {
  position: relative;
  z-index: -2;
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.card_type_book {
  position: relative;
  z-index: -2;
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.card_type_picture {
  position: relative;
  z-index: -2;
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.lots__look-more-link {
  display: inline-block;
  padding-top: 30px;
  padding-left: 40px;
  color: #000;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  text-transform: lowercase;
}

.about {
  padding: 34px 29px 181px 71px;
}

.about__column {
  display: grid;
  grid-template-columns: 310px 2fr;
  grid-template-rows: 240px 1fr;
  grid-template-areas: 
  "logo title title"
  ". text text";
  gap: 0px;
}

.about__logo {
  position: relative;
  grid-area: logo;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  position: absolute;
  top: 64px;
  left: 47px;
  width: 148px;
  border-radius: 0px;
}

.about__title {
  grid-area: title;
  align-self: center;
  padding-top: 10px;
  padding-left: 1px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  grid-area: text;
  gap: 23px;
  padding-top: 9px;
  font-size: 20px;
  line-height: 1.2;
}

footer {
  display: flex;
  flex-direction: row;
  gap: 185px;
  padding: 0 50px 82px 50px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-list-item {
  font-size: 18px;
  line-height: 1.2;
  text-underline-offset: 3px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
}

